.search-container{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    /* padding: 2rem 0; */
}

.search{
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff; 
    width: 100%;
    color: #fff;
    padding: 1rem 1rem 1rem 0;
    font-size: 1.5rem;
}

.search:focus{
    outline: none;
}

@media screen and (max-width: 998px){
    .search-container{
        width: 100%;
    }
    .search{
        width: 80%;
        margin: auto;
    }
}