*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  min-height: 1000px;
  
}

.App-header {
  background-color: #282c34;
  height: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.error-message{
  color: #D900FF;;
}

.search-container-main{
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
}

.search-container-main h1{
  margin: 0;
}
@media screen and (max-width: 998px){
  .App{
    height: 100vh;
  }
  .App-header{
    background-size: auto;
  }

  .search-container-main{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .search-container-main h1{
    font-size: 1rem;
  }
}